
<div class="container row presentismo-row">
	<div class="col-10">
		<table class="table table-striped">
	<thead>
		<tr>
			<th>Date</th>
			<th>Legajo</th>
			<th>Name</th>
			<th>HourShift</th>
			<th>Start</th>
			<th>Presence</th>
		</tr>	
	</thead>
	
	<tbody>
		<tr *ngFor="let gestor of gestores">
			<td>{{ date.getDate() }} / {{ date.getMonth() + 1 }} / {{ date.getFullYear() }}</td>
			<td>{{ gestor.legajo }}</td>
			<td>{{ gestor.name }}</td>
			<td>{{ gestor.hourShift }}</td>
			<td>{{ gestor.startHour }}</td>
			<td><input type="checkbox" name="presente" class="form-checkbox" ng-model="check" ng-change="alert('hohohho')" ng-true-value="true" ng-false-value="false"></td>
		</tr>
	</tbody>
</table>		
	</div>
</div>